img {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
   
}

.responsive {
    max-width: 100%;
    height: auto
}

.responsivefont {
    font-size: 12px;
}


@media only screen and (min-width: 768px) {
 
    .responsivefont {
        font-size: 20px;
        font-weight: bold;
    }

}   